
.About {
    height: 100vh;
    width:100vw;
    background-position: fixed;
    background-image: url('../components/images/wallpaperLeaves.jpg');
    background-size:100vmax;
    background-repeat: no-repeat;
    position: fixed;
}
.homeLink {
    animation-name: homeLink ;
    animation-duration: 2s;
    animation-iteration-count: 1;
    color:rgb(165,204,95);
    position: fixed;
    width:100vw;
    height:10vmax;
    background-color: black;
    bottom:0; 
    font-size: 5vmax;
    text-decoration: none;
    border-top: 3px solid grey;
    text-indent: 3vw;

}

.homeLink:hover{
    color:black;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgb(165,204,95);
}

.rightArrow, .leftArrow{
    color:rgba(255, 255, 255, .8);
    font-size: 4vmax;

}
.titleDisplay{
    font-size: 4vmax;
    margin:auto;
    color:white;
}

    .titleCol{
        border-top: .5vh solid grey;
        border-bottom: .5vh solid grey;
       
    
        display:none;
        width:100vw;
  
        position: fixed;
        top:10vh;
        z-index: 3;
        height:10vh;
       align-items: center;
       background-image: radial-gradient(rgb(128, 139, 150)   2%, black 80% );
    }


.learnMore img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   height:40vh;
    top:40vh;
}
.learnMore img::after{
    display:none;
}
.caption{
    position: sticky;
    width:98vw;
    z-index:5;
    top: 0vh;
    text-align: center;
    background:rgba(0, 0, 0, .99);
    color:white;
    height:max-content;
    margin:0;
    padding: 4vh 0vw;
    font-size: 3vw;
    text-indent: 9vw;
}
.closeView{
    margin:0;
    position:fixed;
    z-index: 6;
    top:21vh;
    left:1vw;
    font-size: 5vw;
    padding:1vh 1vw;
    color:rgb(169, 14, 14);
     
}


.detailedContent{

    overflow:scroll;
    padding-bottom: 100vh;
    
}
.content{
    overflow:scroll;
    animation: contentBox 1s;  
    border: 1vw solid darkgrey;
    position: absolute;
    top:20vh;
    z-index: 2;
    color:white;
    text-align: center;
    background-color: black;
    height:76vh;
    width:98vw;
    font-size: 4vmin;
}

.detailedContent img{
    width:60vw;
    margin:5vw 0;
    border: 2vw solid white;
}





@keyframes homeLink{
    0%{
        margin-left: 100vw;
        background-color: unset;
        width:max-content;
    }
    50%{
        width:100vw;
        transform: rotateY(180deg);
        text-shadow: 10px 10px 10px black;
      
    }
    100%{
    
       margin-left: 0vw;
  
    } 
}
@keyframes contentBox{
    from{margin-top: -100vh;
        

}
    to{margin-top:0;
       
     
    }
}


  

/* HOVER EMOJIS */
.natureEmoji,.pizzaEmoji, .iceCreamEmoji, .puzzlesEmoji, .tacosEmoji, .familyEmoji, .raceCarEmoji, .craftsEmoji {
display:none;

}
 .nature:hover .natureEmoji, .pizza:hover .pizzaEmoji, .iceCream:hover .iceCreamEmoji, .puzzles:hover .puzzlesEmoji, .tacos:hover .tacosEmoji, .family:hover .familyEmoji, .raceCar:hover .raceCarEmoji, .crafts:hover .craftsEmoji {  
  display:inline-block;
  
}
