.colorfulPage{
    background-image: url('../components/images/bridge.jpg');
    min-height: 100vh;
   min-width: 100vw;
    background-size: cover;
 
    background-repeat: no-repeat;
    background-position: fixed;
   
   
}
