
.colorfulPage {
    height: 100vh;
    width:100vw;
    overflow:scroll;
    background-image: url('../components/images/bridge.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.banner{
    background-color: black;
    position:sticky;
    width:100%;
    color:white;
    font-weight: bold;
    margin:0;
    top:0;
    padding:5px 0px;
    z-index: 0;
    font-size:30px;
    border-bottom: 1px solid white;
}
.closeView{
    margin:0;
    height:40px;
     width:20px;
     position:relative;
     z-index: 6;
     top:0;
     font-size: 30px;
    float:left;
     background-color: black;
    text-align: center;
    border-radius: 10px;
     color:red;
     
}

.title p{
    background-color: black;
    margin:0;
    padding:20px;
    font-size: 40px;
}
.title:hover{
    text-shadow: 2px 2px 30px burlywood;
}
.titleCol{
    float:left;
    color:white;
    font-size:40;
    margin-top:100px;
    background-color:black;
    height:100vh;
}
.detailedContent{
   
    overflow:scroll;

}
.content{
    animation: contentBox 1s;  
    float:right;
    border: 3px solid black;
    height:500px;
    width:700px;
   margin-top:100px;
  
    color:white;
    font-size: 20px;
    text-align: center;
    top: 100px;
    background-color: black;

}
.detailedContent img{
    height:300px;
    margin:50px;
}
.caption{
    position: sticky;
    z-index:5;
    top:100px;
    text-align: center;
    background:rgba(0, 0, 0, .99);
    color:white;
    height:50px;
    margin:0;
    font-size: 20px;
 
}

.heading{
    position:relative;
    z-index:8;
    top:0;
    padding:20px;
    background:rgba(0, 0, 0, .99);
    color:white;
    height:60px;
    margin-bottom:0;
    font-size: 30px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

.changeableContent{
   
}

.homeLink {
    animation-name: homeLink ;
    animation-duration: 3s;
    animation-iteration-count: 1;
    color:#9FBE2C;
    position: absolute;
   width:100%;
   background-color: black;
    top:0; 
    left:0;
    padding:30px 0px 10px 20px;
    font-size: 60px;
    text-decoration: none;

}
.homeLink:hover{
    color:black;
    font-weight: bold;
    text-shadow: 0px 0px 5px #D5FE3D;
}

@keyframes homeLink{
    0%{
        margin-left: 100vw;
        background-color: unset;
        width:max-content;
    }
    50%{
        width:max-content;
        transform: rotate(90deg);
        transform: rotateY(180deg);
        text-shadow: 10px 10px 10px black;
        background-color: unset;
    }
    100%{
    
       margin-left: 0vw;
  
    } 
}
@keyframes contentBox{
    from{margin-top: -100%;

}
    to{margin-top:0%;

     
    }
}


  

/* HOVER EMOJIS */
.pizzaEmoji, .iceCreamEmoji, .puzzlesEmoji, .tacosEmoji, .familyEmoji, .raceCarEmoji, .craftsEmoji {
display:none;

}
 .pizza:hover .pizzaEmoji, .iceCream:hover .iceCreamEmoji, .puzzles:hover .puzzlesEmoji, .tacos:hover .tacosEmoji, .family:hover .familyEmoji, .raceCar:hover .raceCarEmoji, .crafts:hover .craftsEmoji {  
  display:inline-block;
  
}
