body{
  margin:0;
}
.mainPage{
  
  background-image: url('../components/images/lio.jpg');
  background-repeat: no-repeat;
  
  background-position: bottom right;
  height:100vh;
  width: 100vw;


}
.card{
  background-color:rgba(15, 214, 237, .8  );
  width:20vw;
  height:10vmax;
  border: 5px solid white;
  text-align: center;
  font-weight: bold;
  padding:2vh;
 font-size: 50px;




}
.card p{
  font-size: 1vmax;
  color: black;
line-height: 100%;
margin:0;
 

}
.available{
  color: white;
  position: absolute;
  bottom: 40vh;
  left:3vw;

}
.unAvailable{
  color: rgb(111, 8, 8 );
  position: absolute;
  bottom: 40vh;
  left:3vw;

}
.resume {
  position: absolute;
  bottom: 40vh;
  right:3vw;

}
.resume :any-link{
  text-decoration: none;
  text-align: center;
  color: white;
 
 } 
 .help{
   position: absolute;
   bottom:0;
   right:0;
   z-index: 100;
 }