body{
  margin:0;
}
.mainPage{
  
  background-image: url('../components/images/lio.jpg');
  background-repeat: no-repeat;

  background-position: bottom right;
  height:100vh;
  width: 100vw;


}
.card{
  background-color:rgba(15, 214, 237);
  margin:2vh 3vw;
  box-shadow: 5px 5px black;
  border: 5px solid white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
 font-size: 10vmax;

}
.sidebar{
  border: 2px solid white;
  height:100vh;
  width:30vw;
  background-color: slategray;



}
.card p{
  font-size: 3vmin;
  color: black;
line-height: 100%;
margin:0;
 

}
.available{
  color: white;




}
.unAvailable{
  background-color: grey;
  color: rgb(111, 8, 8 );


}

.resume :any-link{
  text-decoration: none;
  text-align: center;
  color: white;
 
 } 
 .help{
   animation: help 1s ;
  animation-delay: 5s;
   position: fixed;
   bottom:0;
   right:0;
   z-index: 3;
 }
 @keyframes help{
   0%{
    bottom:0;
    right:0;
  
   }
   50%{
    bottom: 3vh;
    right:0;
   }
   100%{
   
    bottom:0;
    right:0;
   }
 }