/* MENU STYLES */
.menu{
  background-color: lightgrey;
  box-shadow: 0px 0px 30px grey;   
  display: inline-flex;
  justify-content: space-evenly;
  border-bottom: 5px solid black ;
  width: 100vw;
  height:max-content;
  margin:0;
}
.contactInfo a:link{
font-size: 3vmin;
text-decoration: none;
color:black;
padding:2vmin;
align-content: center;
font-weight:bold;
}



.option, .option a{
  display: block;
  text-align: center;
}


.icon, .option a{
  color:black;
  font-size: 5vmax;
 
}

.description{
  font-size: 2vmin;
  color:grey;
  margin:0;
}