
.welcome{
    color:black;
    background-color:grey;
    max-width:90vw;
    position: relative;
    z-index: 2;
    height:100vh;
    max-height: 100vh;
    border: 5px solid white;
    text-align: center;
    margin-top: 3vmin;
    padding:0vh 5vw;
 
}
#hello{
    font-size: 3vmax;
    animation: hello 1s;
   
}
.hireMe{
    animation: hire 2s 1s 1 alternate;
    background-color:white;
  
    height:max-content;
    margin:3vmax 3vw;
    padding:0;
    border: 5px solid #799BB0;
    text-align: center;
    font-weight: bold;
    color: #799BB0;
    /* text-shadow: 0px 0px 30px black; */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(219, 255, 109);
    font-size: 3vmax;
}

.closeMessage{
    margin:0;
    position:absolute;
    left:0;
    z-index: 2;
    font-size: 3vmax;
    color:rgb(169, 14, 14);
}

.creative{
    animation: creative 10s infinite;
}

.moreDetails{
    /* background-color: rgb(116, 145, 169); */
    height:20vmax;
    border: 5px solid #799BB0;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
  
 
}

.moreDetails p{
    font-size: 3vmin;
  
}


@keyframes hire{
    0%{transform: rotate(0deg);     

    }
    40%{transform: rotate(10deg);
 
    }
    80%{transform: rotate(-10deg)
    }
    100%{transform: rotate(0deg)
    }
}

@keyframes hello{
    0%{
      color: black;
      font-size: 3vmax;
    }
    50%{
        color: rgb(156,190,139);
        font-size: 6vmax;
   
    }
    100%{
        color: rgb(156,190,139);
        font-weight: bold;
        font-size: 6vmax;
    }
}
@keyframes creative{
  
    0%{
        color:green;
    }
   
    50%{
        color:orange;
    }
    100%{
        color:yellow;
    }
  
}
