
.welcome{
    color:black;
    background-color:grey;
    max-width:90vw;
   position: relative;
   z-index: 2;
    height:100vh;
    max-height: 100vh;
    border: 5px solid white;
    text-align: center;
    margin-top: 3vmin;
    padding:0vh 5vw;
 
}
#hello{
    font-size: 3vmax;
    animation: hello 1s;
   
}
.hireMe{
    animation: hire 2s 1s 1 alternate;
    background-color:rgb(15, 214, 237);
    width:30vw;
    height:max-content;
    border: 5px solid rgb(116, 145, 169);
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow: 0px 0px 20px white;
    border-radius: 10px;
    position: absolute;
   bottom: 11vmax;
    left: 3vw;
    font-size: 3vmax;

}
.closeMessage{
    margin:0;
     position:absolute;
     left:0;
     z-index: 2;

     font-size: 3vmax;

 
     color:rgb(111, 8, 8 );
     
}

.creative{
    animation: creative 10s infinite;
}
.moreDetails{
    background-color: rgb(116, 145, 169);
    width:30vw;
    height:max-content;
    border: 5px solid rgb(15, 214, 237);
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    bottom: 11vmax;
    left: 3vw;
}
.moreDetails p{
    font-size: 3vmin;
    margin: 0;
}
.moreDetails :last-child{
 font-size: 2vmin;
line-height: 100%;
background-color:rgb(15, 214, 237);
text-decoration: none;
color:black;
}

@keyframes hire{
    0%{transform: rotate(0deg);
        

}
   40%{transform: rotate(10deg);
       
     
    
    }
    80%{transform: rotate(-10deg)
    }
    100%{transform: rotate(0deg)

    }

}
@keyframes hello{
    0%{
      color: black;
      font-size: 3vmax;
    }
    50%{
        color: blue;
        font-size: 6vmax;
   
    }
    100%{
        color: blue;
        font-weight: bold;
        font-size: 6vmax;
    }
}
@keyframes creative{
    0%{
      color: black;
    }
    20%{
        color:yellow;
    }
    40%{
        color:red;
    }
    60%{
        color:orange;
    }
    80%{
        color:green;
    }
    100%{
       color: blue;
    }
}
