.nameLink {
    color:white;
    font-size: 5vmin;
    text-decoration: none;

}
.name p{
    animation: name 3s infinite;
    margin:0px;
  ;
    text-align: center;
}
@keyframes name{
    0%{
        color:rgb(53, 53, 40);
        text-shadow: 0px 0px 5px rgb(235, 255, 173);
    }
    50%{
        color:white;
        text-shadow: 0px 0px 5px green;
    }
    100%{
        color:rgb(53, 53, 40);
        text-shadow: 0px 0px 5px rgb(219, 255, 109)
    }
}