
/* NAME STYLES */
.name {
  font-size: 100px;
  color:white;
  padding: 200px;
  animation-name: joann;
  animation-duration:1.5s;

}
@keyframes joann {
0%{
    margin-left: 300%;
    font-size: 0px;
    color:rgba(0,0,0,0);
  }

  80%{
    color:rgba(0,0,0,0.6);
  }
  100%to{margin-left: 0%}
}


/* MENU STYLES */
.menu{
  background: rgba(0,0,0,0);
  height:100px;
  padding: 30px 50px;
  color:lightskyblue;
  font-size: 30px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  position: sticky;
  top:0;


}
.dropDownContents {
  display:none;
  list-style: none;
  font-size: 30px;
}
 .resume:hover + .dropDownContents {
  display:block;
  position: relative;
  z-index: 3;

}
.dropDownContents:hover{
  display:block;
}


.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: rgba(0,0,0,.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: 20px;
 top:0px;
 left:0px;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;

}
.githubLink{
  color: lightskyblue;
  text-decoration: none;

}
.githubLink:hover{
   color:rgba(215,240,243,0.3);

}
.contactDetails{
  display: none;
  background: rgba(215,240,243,0.5);
}
.contact:hover + .contactDetails{
 display:block;

}
.contactDetails:hover{
  display: block;
}
.contactDetails a{
  text-decoration: none;
font-size: 20px;
padding:30px
}
.adventureStories{
  display:none;
}

.adventure:hover + .adventureStories{
  display:block;
}
.adventureStories:hover{
  display:block;
}


/* FOOTER STYLE */
.footer{
  color:red;
  background: rgba(0,0,0,0);
  height:100px;
  font-size: 30px;
  position: sticky;
  bottom:0;
  padding: 30px 50px;
}
