
/* NAME STYLES */

.text {
  visibility: hidden;
  font-size: 20px;

}

.name:hover  .text{
  color:red;
  text-shadow: none;
  visibility: visible;

}

.name:hover{
  position: absolute;
  z-index: 99;
}



.footer{
 text-align: center;
  z-index: 50;
  color:white;
  width:100vw;
  position:absolute;
  bottom:0;
  animation-name: zoomFromRight;
  animation-duration:1.5s;
}
.fixedInfo{
 border-radius: 300px;
background-color: rgba(0,0,0,0.3);
  width:300px;
  padding:20px;
  box-shadow: 0px 0px 20px lightyellow;

}

@keyframes zoomFromRight {
0%{
    margin-left: 300%;

   
  }

 
  100%{margin-left: 0%}
}
